extends layout
block content
    h3.field.regheader #{title}
    form.regform(method='post')
        p.mess #{message}
        div.item
            label.label(for='username') username
            input(type='text',placeholder='input',id='username',name='username')
        div.item
            label.label(for='password') password
            input(type='password',placeholder='input',id='password',name='password')
        div.item
            label.label
            input(type='submit' id='sub',name='sub' value='log in')